.question1{
    height: 200px;
    width: 100%;
    background-color: blue;
    color: white;
    padding: 10px;
    margin-top: 20px;
}
.question2{
    height: 200px;
    width: 100%;
    background-color: brown;
    color: white;
    padding: 10px;
    margin-top: 10px;
}
.question3{
    height: 200px;
    width: 100%;
    background-color: rgb(255, 0, 106);
    color: white;
    padding: 10px;
    margin-top: 10px;
}
@media only screen and (max-width:600px) {
    .question1{
       width: 100%;
    }
    .question2{
       width: 100%;
    }
    .question3{
       width: 100%;
    }
}